Package: com.easycheats.ffh4x
Name: EASYCHEATS FFH4X
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: EASYCHEATS FFH4X MOD MENU
Maintainer: easycheats
Author: easycheats
